/bin/
.metadata
local.properties
.settings/


# Locally stored "Eclipse launch configurations"
*.launch

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java annotation processor (APT)
.factorypath

# Code Recommenders
.recommenders/

# Annotation Processing
.apt_generated/
.apt_generated_test/

# Locally stored "Eclipse launch configurations"
*.launch

bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
.loadpath
.recommenders
